.conditionalBlock{
    display: flex;
    // flex-direction: column;
    // margin: 50px;
    // border: solid;
    // min-width: 100%;
}
.ifBlock{
    display: flex;
    
    // flex-direction:   row;
    gap:20px;
    // border: solid;

    padding: 10px 0;
    input{
        width: 100%;
    }
    textarea{
        display: flex;
        // width: 100%;
    }
}
.btn{
    position: relative;
    display: block;
    margin-right: 10px;
    span{
        position: absolute;
        top: 0;
        height: 99%;
        border: 1px solid rgb(211, 211, 211);
    }
}