.conditionalBlock {
  display: flex;
}
.ifBlock {
  display: flex;
  gap: 20px;
  padding: 5px 0;
  input {
    width: 100%;
  }
  textarea {
    display: flex;
  }
}
.btn {
  position: relative;
  display: block;
  margin-right: 10px;
  margin-top: 10px;
  span {
    position: absolute;
    top: 0;
    height: 99%;
    border: 1px solid rgb(211, 211, 211);
  }
}
