.previewBlock {
  width: 40%;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  padding: 30px;
  border-radius: 30px;
  background-color: #c9c8c8;
  transition: 0.3s all;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}